@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Delete By Id</h2>

<form action="/Products/Delete" method="post">
    <h5>Enter Id <input type="text" name="id" /></h5> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="Delete" />
</form>