
<h1>Admin Login Page</h1>
<div class="login-container">
    <h2>Login</h2>
    <form action="/Admin/Login" method="post">
        Username:
        <input type="text" name="username" required>
        <br />
        Password:
        <input type="password" name="password" required>
        <br />
        <button type="submit">Login</button>
    </form>
</div>