
<h1>Student Login Page</h1>
<div class="login-container">
    <h2>Login</h2>
    <form action="/Student/Login" method="post">
        Username:
        <input type="text" name="username" required>
        <br />
        Password:
        <input type="password" name="password" required>
        <br />
        <input type="submit" value="Submit">
    </form>
</div>